<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>

    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
    integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">

    <script src='/static/example1.js'></script>
    <script src='/static/example2.js'></script>
    <script src='/static/example3.js'></script>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/main.css'>


    
   
    <!--input sweetalert tag here-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    
    <div class="container">
        <span>Example 1</span>
        <button class="button-success pure-button" id="success">Success Button</button>
        <button class="button-error pure-button" id="error">Error Button</button>
        <button class="button-warning pure-button" id="warning">Warning Button</button>
        <button class="button-secondary pure-button" id="info">Info</button>
        <button class="button-question pure-button" id="question">Question</button>
    </div>

    <div class="container">
        <span>Example 2</span>
        <button class="button-url pure-button" id="url">Search a url</button>
        <input type="text" id="text">
    </div>

    <div class="container">
        <span>Example 3</span>
        <form id="form">
            <label for="text">What class is this?</label>
            <input type="text" id="text" name="text">
            <button type="submit" class="button-success pure-button" id="text">Success Button</button>
        </form>
    </div>



    

    


</body>
</html>